﻿@model Db.Articles

@{
    ViewBag.Title = Model.Title;
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default" data-bind="with: sqlSearchConfiguration">
            <div class="panel-heading">@Model.Title</div>
            <div class="panel-body">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>